<div class="container">
<form id="formCreate needs-validation" method="post" enctype="multipart/form-data" >
    <strong>bitte keine Bilder größer als 3 MB hochladen</strong>
    <input id="PicDialog" class="form-control" type="file" size=3000000 name="picture" (change)="preview($event)"/>
    <img src="../../assets/images/camera.png" style="width:50px;height:50px">
    <img id="preview" [src]="imageSrc" style="width:150px;height:150px"/>
    <label for="cid">Welcher Discounter bietet das Produkt an?</label>
    <select class="form-select" id="cid" >
        <option value=1>Lidl</option>
        <option value=2>Rewe</option>
        <option value=3>Kaufland</option>
        <option value=4>Aldi Nord</option>
        <option value=5>Aldi Süd</option>
    </select>
    <label for="price">Preis in €</label>
    <input class="form-control" type="number" step="0.01" min="0" id="price" [(ngModel)]="newProduct.new_price" [ngModelOptions]="{standalone: true}"><!--regex-->
    <input class="form-control" type="text" id="title" placeholder="Mein Produktname" [(ngModel)]="newProduct.title" [ngModelOptions]="{standalone: true}">
    <input class="form-control" type="textarea" id="description" placeholder="Deine Produktbeschreibung" [(ngModel)]="newProduct.description" [ngModelOptions]="{standalone: true}">
    <input class="form-control" type="text" id="amount" placeholder="1" [(ngModel)]="newProduct.amount" [ngModelOptions]="{standalone: true}">
    <label for="amount_suffix">Mengeneinheit (bei Bedarf)</label>
    <select class="form-select" id="amount_suffix">
        <option>Stück</option>
        <option></option>
        <option>g</option>
        <option>kg</option>
        <option>l</option>
        <option>ml</option>
    </select>
    <input class="form-control" type="text" id="price_per_amount" placeholder="100g für 1.55€" [(ngModel)]="newProduct.price_per_amount" [ngModelOptions]="{standalone: true}">
    <input class="form-control" type="text" id="hint" placeholder="Dein Hinweis" [(ngModel)]="newProduct.hint" [ngModelOptions]="{standalone: true}">
    <button (click)="postForm()" >erstelle Favorit</button>
     
    <button class="btn btn-secondary" (click)="goBack()">zurück</button>
    
</form>
</div>