/**
$theme-colors: (
  "primary": #EB2660,
  "success":#4DD51D
);
**/


@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: "Capriola";
  src:local("Capriola"), URL("./assets/font/Capriola-Regular.ttf") format("truetype")
}

body {
  font-family: "Capriola";
}
