<div class="hstack gap-2">
    <button class="btn btn-secondary" (click)="goBack()">zurück</button>
    <button class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#ShopDetailMenu">hinzufügen</button>
    <button class="btn btn-primary" (click)="deleteSelectedProducts()">löschen</button><br>    
</div>

<div id="ShopDetailMenu" class="collapse position-fixed bg-white">
    <div class="vstack gap-2">
        <button class="btn btn-light" routerLink="main">wählen aus Angeboten</button>
        <button class="btn btn-light" routerLink="../favorits">wählen aus Favoriten</button>
        <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#customModal">Schnellnotiz</button>
    </div>
</div>

<div *ngFor="let card of products">
    <div *ngIf="card.groceryid==110625; else elsecustom">
        <div class="row border rounded my-auto">
            <div class="col-3 " >
                <div class="hstack gap-1">
                    <input class="form-check-input" style="width:25px;height: 25px;" type="checkbox" [(ngModel)]="card.ischeck" [ngModelOptions]="{standalone: true}">
                    <input class="form-number-input"type="number" style="width: 40px;" min=1 [(ngModel)]="card.amount" name="shopListCheck" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="col-8  fs-6" style="overflow: hidden; text-overflow: ellipsis;">
                {{card.customentry}}
            </div>
        </div>
    </div>
    <ng-template #elsecustom>
        <div class="row  rounded my-auto">
            <div class="col-6 " >
                <div class="hstack gap-1">
                    <input class="form-check-input" style="width:25px;height: 25px;" type="checkbox" [(ngModel)]="card.ischeck" [ngModelOptions]="{standalone: true}">
                    <input class="form-number-input"type="number" style="width: 40px;" min=1 [(ngModel)]="card.amount" name="shopListCheck" [ngModelOptions]="{standalone: true}">
                    <img src="{{selectFirstPicturefromPucURL(card.pic_url)}}" style="width:80px;height:80px;object-fit:cover;" />
                </div>
            </div>
            <div class="col-3 fs-6" style="overflow: hidden; text-overflow: ellipsis;">
                {{card.title}}
            </div>
            <div class="col-1 " >
                <img src={{getComopaniePic(card.cid)}} style="width:15px;height:15px;object-fit:contain;"/>
            </div>
            
            <div class="col-2">
                <div class="stack gap-2">
                    <div style="position:relative;top:12px;font-size: 12px;">{{card.discount}}</div>
                    <div style="position:relative;top:15px;font-size: 14px;">{{card.new_price}}€</div>
                </div>
            </div>
        </div>
    </ng-template>
</div>



<!--Modal Custom-->
<div class="modal fade" id="customModal" tabindex="-1" aria-labelledby="customModalLable" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="customModalLable">Schnelleintrag</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="text" id="customText" [(ngModel)]="customText"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-light" data-bs-dismiss="modal" (click)='addCustomEntry(customText)'>eintragen</button>
        </div>
      </div>
    </div>
  </div>

