<nav>
  <app-navigation></app-navigation>
</nav>

<header id="totop">
  <div class="w-100" class="text-center">
    <img class="my-2" width="75px" height="75px" style="object-fit:cover" src="../../assets/images/icon_discount.png" />
    <hr>
  </div>
  
  <!--Search Form-->
  <form>
      <div class="row ms-1 me-1">
            <div class="hstack gap-1"> 
              <input class="form-control" type="Text" placeholder="Schokolade" [(ngModel)]="searchterm" [ngModelOptions]="{standalone: true}" />
              <button id="searchButton" class="btn btn-outline-dark w-25" type="submit" (click)="searchForProducts()">suchen</button>
            </div>
            
          <div class="hstack gap-1">
            <div class="form-switch">
              <input id="searchScope" class="form-check-input" type="checkbox" role="switch" [(ngModel)]="filterPnp.searchfilter.currentweeks" [ngModelOptions]="{standalone: true}" (change)="searchScopeChange()" checked> <b>{{searchScopeText}}</b>
            </div>
            <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#SearchHelp"><img src="../../assets/images/help.png" width="25px" height="25px"></button>
          </div>
      </div>
  </form>
  
  <div class="border rounded ms-1 me-1">
    <form>
      <div class="row ms-1 me-1">
        <div class="col ps-0">
          <div class="vstack">
            <div class="hstack gap-1">
            <input id="sort_price_asc" name="sort" type="radio" [checked]="filterPnp.sortfilter.sort_price_asc" (change)="saveFilterNPolicyintoSessionNDB()">
            <label for="sort_price_asc">Preis aufsteigend</label><br>
          </div>
          <div class="hstack gap-1">
            <input id="sort_price_desc" name="sort" type="radio" [checked]="filterPnp.sortfilter.sort_price_desc" (change)="saveFilterNPolicyintoSessionNDB()">
            <label for="sort_price_desc">Preis absteigend</label><br>
          </div>
          </div>    
        </div>
        <div class="col ps-0">
          <div class="vstack">
            <div class="hstack gap-1">
              <input id="sort_discount_asc" name="sort" type="radio" [checked]="filterPnp.sortfilter.sort_discount_asc" (change)="saveFilterNPolicyintoSessionNDB()">
              <label for="sort_discount_asc">Rabatt aufsteigend</label><br>
            </div>
            <div class="hstack gap-1">
              <input id="sort_discount_desc" name="sort" type="radio" [checked]="filterPnp.sortfilter.sort_discount_desc" (change)="saveFilterNPolicyintoSessionNDB()">
              <label for="sort_discount_desc">Rabatt absteigend</label><br>
            </div>
          </div>  
        </div>
      </div>  

      <div class="text-center">
        <input id="group_discounter" name="sort" type="radio" [checked]="filterPnp.sortfilter.group_discounter" (change)="saveFilterNPolicyintoSessionNDB()">
        <label class="ms-1" for="group_discounter">nach Discounter gruppieren</label>
      </div>          
    </form>
  </div>


  <!--Categories-->
  <div *ngIf="!filterPnp.searchfilter.allweeks==false">
  <div class="ms-1 me-1">
    <label for="categories">Kategorie auswählen</label><br>
    <select class="w-75 form-select" id="categories" [(ngModel)]="filterPnp.discounterfilter.categorie" [ngModelOptions]="{standalone: true}" (change)="displaySearchResultWithoutKeyowrd();saveFilterNPolicyintoSessionNDB();">
        <option [value]="categories.ohneKategorie.index">{{categories.ohneKategorie.name}}</option>
        <option [value]="categories.dressings.index">{{categories.dressings.name}}</option>
        <option [value]="categories.getreide.index">{{categories.getreide.name}}</option>
        <option [value]="categories.desserts.index">{{categories.desserts.name}}</option>
        <option [value]="categories.salziges.index">{{categories.salziges.name}}</option>
        <option [value]="categories.fette.index">{{categories.fette.name}}</option>
        <option [value]="categories.obst.index">{{categories.obst.name}}</option>
        <option [value]="categories.alkfrei.index">{{categories.alkfrei.name}}</option>
        <option [value]="categories.alk.index">{{categories.alk.name}}</option>
        <option [value]="categories.kaffee.index">{{categories.kaffee.name}}</option>
        <option [value]="categories.fleisch.index">{{categories.fleisch.name}}</option>
        <option [value]="categories.gefluegel.index">{{categories.gefluegel.name}}</option>
        <option [value]="categories.fisch.index">{{categories.fisch.name}}</option>
        <option [value]="categories.milch.index">{{categories.milch.name}}</option>
        <option [value]="categories.vegan.index">{{categories.vegan.name}}</option>
        <option [value]="categories.fertig.index">{{categories.fertig.name}}</option>
        <option [value]="categories.tiere.index">{{categories.tiere.name}}</option>
        <option [value]="categories.pflanzen.index">{{categories.pflanzen.name}}</option>
        <option [value]="categories.moebel.index">{{categories.moebel.name}}</option>
        <option [value]="categories.kosmetik.index">{{categories.kosmetik.name}}</option>
        <option [value]="categories.geraete.index">{{categories.geraete.name}}</option>
        <option [value]="categories.medien.index">{{categories.medien.name}}</option>
        <option [value]="categories.haushalt.index">{{categories.haushalt.name}}</option>
        <option [value]="categories.kleidung.index">{{categories.kleidung.name}}</option>
        <option [value]="categories.aufstrich.index">{{categories.aufstrich.name}}</option>
    </select>
  </div>
</div>   
</header>


<main >
  <!--card-for-main-->
  <app-card-for-main [_productlist]="productlist" [alllists]="alllists"></app-card-for-main>
</main>

<!--Modal Permission and Policy-->
 <!--Dialogue Permission and Policy-->
 <button id="btnpnp" data-bs-toggle="modal" data-bs-target="#pnpModal" hidden></button>

<div class="modal fade" id="pnpModal" tabindex="-1" aria-labelledby="pnpLable" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pnpLable">Berechtigungen&Datenschutz</h5>
      </div>
      <div class="modal-body">
          <div *ngIf="privacyTextflag==false; else elseprivacy">
              <form>
                  <fieldset>
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="sw_localisation" [(ngModel)]="filterPnp.permissionNpolicy.localisation" [ngModelOptions]="{standalone: true}">
                          <label class="form-check-label" for="sw_localisation">Lokalisierung (GPS)</label>
                      </div>
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="sw_storage" [(ngModel)]="filterPnp.permissionNpolicy.storage" [ngModelOptions]="{standalone: true}">
                          <label class="form-check-label" for="sw_storage">Speicherung notweniger Daten</label>
                      </div>
                      <div class="form-check form-switch">
                        <!--
                        <input class="form-check-input" type="checkbox" id="sw_camera" [(ngModel)]="filterPnp.permissionNpolicy.camera" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="sw_camera">Zugriff auf Kamera</label>
                        -->  
                      </div>
                      <input id="privacyDeclarationCheck" name="pnp" type="checkbox" [(ngModel)]="filterPnp.permissionNpolicy.policy" [ngModelOptions]="{standalone: true}">
                      <label for="privacyDeclarationCheck">Ich stimme der Datenschutzerklärung zu.</label><br>

                      <button class="btn btn-outline-dark" (click)="clickPrivacyText()">lesen der Datenschutzerklärung</button>
                  </fieldset>
              </form>
          </div>
          <ng-template #elseprivacy>
              <span>Datenschutzerklärung</span>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.   
              Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   
              Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.   
              Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.   
              Duis autem vel eum iriure
              <button class="btn btn-outline-secondary" (click)="clickPrivacyText()">zurück</button>
          </ng-template>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-success text-white" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#Help" (click)="acceptAllTerms()">allen zustimmen</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#Help" (click)="saveFilterNPolicyintoSessionNDB()">Auswahl speichern</button>

        <!-- Debug
        <button type="button" class="btn btn-success text-white" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#Help" >allen zustimmen</button>
        -->
      </div>
    </div>
  </div>
</div>
      
<!--Modal SearchHelp-->
<div class="modal fade" id="SearchHelp" tabindex="-1" aria-labelledby="suchHelpModalLable" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="suchHelpModalLable">Hilfe für die Suche</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../../assets/images/help/hafer.PNG" width="100%"/>
        <p><i>Es werden Produkte mit dieser oder vor- oder nachgestellten kombinierten Bezeichnung gesucht</i></p>
        <img src="../../assets/images/help/haferflocken.PNG" width="100%" />
        <p><i>Es werden Produkte mit dieser oder nachgestellten kombinierten Bezeichnung gesucht</i></p>
        <img src="../../assets/images/help/vanille.PNG" width="100%" />
        <p><i>Es werden Proukte mit der Bezeichnung Dessert angezeigt und Produkte mit der Bezeichnung  „Vanille“ ausgeschlossen</i></p>
        <hr>

          <span>Keine Produkte gefunden? Dann probier das…</span>
          <ol>
            <li>Wähle: „keine Filiale“ beim Discounter Kaufland</li>
            <li>Wähle „keine Kategorie“ um alle nicht kategorisierten Produkte zu suchen</li>
          </ol>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">verstanden</button>
      </div>
    </div>
  </div>
</div>

<!--Modal Help-->
<div class="modal fade" id="Help" tabindex="-1" aria-labelledby="HelpModalLable" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="HelpModalLable">Kurz gesagt ...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="vstack gap-4">
          <div class="hstack">
            <img class="border bordered-circle me-4" src="../../assets/images/icon_discount.png" width="50px" height="50px">
            <b>... suche nach Discounterangeboten</b>
          </div>
          <div class="hstack">
            <img class="border bordered-circle me-4" src="../../assets/images/icon_shoppinglist.png" width="50px" height="50px">
            <b>... schreibe deine Einkaufslisten</b>
          </div>
          <div class="hstack">
            <img class="border bordered-circle me-4" src="../../assets/images/icon_favorits.png" width="50px" height="50px">
            <b>... schaue oder erstelle Dir deine Favoriten</b>
          </div>
          <div class="hstack">
            <img class="border bordered-circle me-4" src="../../assets/images/icon_setting.png" width="50px" height="50px">
            <b>... wähle deine Discounter aus</b>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">verstanden</button>
      </div>
    </div>
  </div>
</div>


<button class="btn btn-outline-light rounded-circle position-fixed top-50 start-25" id="ToTop" (click)="toTop()"><img src="../../assets/images/up-arrow.png" width="35px" height="35px"></button>