<button id="btn" class="btn btn-primary-outline fs-1" style="padding-left: 0px;" type="button" data-bs-target="#target" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
    ...
  </button>
  <!--Collapse-->
    <div class="collapse mt-2" id="target">
      <div class="card border-light" style="padding-left: 0px;">
        <div class="row">
            <div class="col" >
              <button class="btn btn-primary-outline" style="padding-left: 0px;" (click)="deleteShoppingList(id)">
                  <img src="../../assets/images/bin.png" width="25px" height="25px"/>
              </button>
            </div>
            <div class="col">
              <button class="btn btn-primary-outline" style="padding-left: 0px;" (click)="copyShoppingList(id)">
                  <img src="../../assets/images/copy.png" width="25px" height="25px"/>
              </button>
          </div>
          <div class="col">
              <button class="btn btn-primary-outline" style="padding-left: 0px;">
                  <img src="../../assets/images/teilen.png" width="25px" height="25px"/>
              </button>
          </div>
        </div>
      </div>
    </div>
    