<button id="btn" class="btn btn-primary-outline fs-1" style="padding-left: 0px;" type="button" data-bs-toggle="collapse" data-bs-target="#target" aria-expanded="false" aria-controls="collapseExample">
    ...
  </button>
    <div class="collapse mt-2" id="target">
      <div class="card border-light" style="padding-left: 0px;">
        <div class="row">
            <div class="col" >
              <button class="btn btn-primary-outline" style="padding-left: 0px;" (click)="removeProductFromFavoris()">
                  <img src="../../assets/images/star_grey.png" width="25px" height="25px"/>
              </button>
            </div>
            <div class="col">
              <button class="btn btn-primary-outline" style="padding-left: 0px;" id="addShop" data-bs-toggle="modal" data-bs-target="#modal">
                  <img src="../../assets/images/icon_shoppinglist.png" width="25px" height="25px"/>
              </button>
          </div>
          <div class="col">
              <button class="btn btn-primary-outline" style="padding-left: 0px;">
                  <img src="../../assets/images/teilen.png" width="25px" height="25px"/>
              </button>
          </div>
        </div>
      </div>
    </div>