<div class="row" style="margin-left: 0px; margin-right: 0px;">
    <div class="col-10">
        <div class="container text-center position-absolute start-50 translate-middle-x">
            <h1 class="display-1">{{product.title}}</h1>
            <span class="display-12">{{product.validity}}</span>
            <img src="{{product.pic_url}}" width="100%" height="auto" style="object-fit: contain;">
            <p>{{product.description}}</p>
            <p>
                {{product.hint}}<br/>
                {{product.price_per_amount}}<br/>
                {{product.amount}}<br/>
            </p>
            <div class="row">
                <div class="col-4">
                    <img class="border rounded-circle" src="../../assets/images/logos/kaufland.svg" width="75px" height="75px" style="object-fit: contain;">
                </div>
                <div class="col-8">
                    <p class="mt-4">
                        <span class="fs-6">{{product.discount}}</span><br/>
                        {{product.new_price}}€<br/>
                        <span class="fs-6">alter Preis: {{product.old_price}}€</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2" style="margin-left: 0px; margin-right: 0px;">
        <div class="row">
            <div class="col">
              <button class="btn btn-primary-outline" style="padding-left: 0px; padding-right: 0px;">
                  <img class="border rounded-circle" src="../../assets/images/icon_favorits.png" width="35px" height="35px"/>
                  <span style="position: relative; top:-30px;">{{product.favCount}}</span>
              </button>
            </div>
            <div class="col">
              <button class="btn btn-primary-outline" style="padding-left: 0px; padding-right: 0px;">
                  <img class="border rounded-circle" src="../../assets/images/icon_shoppinglist.png" width="35px" height="35px"/>
              </button>
          </div>
          <div class="col">
              <button class="btn btn-primary-outline" style="padding-left: 0px; padding-right: 0px;">
                  <img class="border rounded-circle" src="../../assets/images/teilen.png" width="35px" height="35px"/>
              </button>
          </div>
        </div>
    </div>
</div>

<div class="row position-absolute bottom-0 start-50 translate-middle-x" style="margin-left: 0px;margin-right: 0px;">
    <button class="btn btn-primary " routerLink="main">zurück</button>
</div>