<div class="collapse mt-1" id="target">
  <div class="card card-body border-light position-absolute end-0 me-5">
    <div class="row">
      <div class="col" >
        <button class="btn btn-primary-outline" (click)="addProductToFavorits()">
            <img src="../../assets/images/icon_favorits.png" width="25px" height="25px"/>
        </button>
      </div>
      <div class="col">
        <button class="btn btn-primary-outline" id="addShop" data-bs-toggle="modal" data-bs-target="#modal">
            <img src="../../assets/images/icon_shoppinglist.png" width="25px" height="25px"/>
        </button>
      </div>
      <div class="col">
          <button class="btn btn-primary-outline" >
              <img src="../../assets/images/teilen.png" width="25px" height="25px"/>
          </button>
      </div>
    </div>
  </div>
</div>

<button id="btn" class="btn btn-primary-outline fs-1" type="button" data-bs-toggle="collapse" data-bs-target="target" aria-expanded="false" aria-controls="collapseExample">
  ...
</button>

<!--Dialogue ShoppingList-->
<div class="modal" tabindex="-1" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Zur Einkaufsliste hinzufügen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let item of shoppinglists">
          <button class="btn btn-light" data-bs-dismiss="modal" (click)="addProductToShoppingList(item.id)" >{{item.name}}</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>