<div *ngFor="let favorit of products">
    <div class="row rounded ms-1 me-1 mt-1 mb-1">
        <div class="col-4">
            <img src="{{favorit.pic_url}}" style="width:80px;height:80px;object-fit:cover;" (click)="getDetails(favorit.id)"/>
        </div>
        
        <div class="col-4 fs-6" style="overflow: hidden; text-overflow: ellipsis;">
            <span >{{favorit.title}}</span>
        </div>
        
        <div class="col-1" >
            <img class="mx-auto" src={{getComopaniePic(favorit.companie)}} style="width:15px;height:15px;object-fit:contain;"/>
        </div>
        
        <div class="col-2">
            <div class="row ms-3 fs-6">
                {{favorit.discount}}
            </div>
            <div class="row fs-5" >
                {{favorit.new_price}}€
            </div>
        </div>
        
        <div class="col-1 fs-3" >
            <!--submenu-cardforfavorits-->
            <app-submenu-cardforfavorits [id]="favorit.id" [alllists]="alllists" [service_Favorits]="service_managingFavorits"></app-submenu-cardforfavorits>
        </div>
    </div>
</div>
