<div class="navbar navbar-light bg-light me-3 mb-1 border-bottom">
    <div class="col-3">
        <div class="row mx-auto "><a routerLink="../main"><img width={{icon_width}} height={{icon_height}} style="object-fit:cover" src="../../assets/images/icon_discount.png" /></a></div>
        <div class="row "><span class="text-center">Angebot</span></div>
    </div>
    <div class="col-3">
        <div class="row mx-auto "><a routerLink="../shoppinglist"><img width={{icon_width}} height={{icon_height}} style="object-fit:cover" src="../../assets/images/icon_shoppinglist.png" /></a></div>
        <div class="row "><span class="text-center">Einkauf</span></div>
    </div>
    <div class="col-3">
        <div class="row mx-auto "><a routerLink="../favorits"><img width={{icon_width}} height={{icon_height}} style="object-fit:cover" src="../../assets/images/icon_favorits.png" /></a></div>
        <div class="row "><span class="text-center">Favoriten</span></div>
    </div>
    <div class="col-3">
        <div class="row mx-auto "><a routerLink="../settings"><img  width={{icon_width}} height={{icon_height}} style="object-fit:cover" src="../../assets/images/icon_setting.png" /></a></div>
        <div class="row "><span class="text-center">Optionen</span></div>
    </div>
</div>