<nav>
    <app-navigation></app-navigation>
</nav>

<div class="w-100" class="text-center">
    <img class="my-2" width="75px" height="75px" style="object-fit:cover" src="../../assets/images/icon_favorits.png"/>
    <hr>
</div>

<main>
    <button class="btn btn-primary" routerLink="../favorits-create">erstelle Favorit</button>
    <!--cards for favorits-->
    <app-cards-for-favorits [favorits]="favorits" [alllists]="alllists" [service_managingFavorits]="service_managingFavorits"></app-cards-for-favorits>
</main>

