
<!--
<div *ngFor="let card of cards">
    <div class="row border rounded">
        <div class="col-4" style="padding-left: 2px;padding-right: 2px;">
            <ng-template [ngIf]="card.favFlag==true">
                <img src="../../assets/images/star_gold.png" style="width:25px;height:25px;margin-left: 5px;"/>
            </ng-template>
            <ng-template #elseBlock>
                <img src="../../assets/images/star_grey.png" style="width:25px;height:25px;margin-left: 5px;"/>
            </ng-template>
            
            <img src="{{card.pic_url}}" style="width:80px;height:80px;object-fit:cover;margin-left: 5px;" />
        </div>
        <div class="col-4 fs-6" style="padding-left:2px;padding-right:2px;margin-top: auto;margin-bottom: auto;">
            {{card.title}}
        </div>
        <div class="col-1" style="padding-left: 2px;padding-right: 2px;">
            <img src={{card.companie_pic}} style="width:15px;height:15px;object-fit:contain;"  />
        </div>
        <div class="col-2">
            <div class="row">
                <div style="position:relative;top:12px;font-size: 12px;">{{card.discount}}</div>
            </div>
            <div class="row" >
                <div style="position:relative;top:15px;font-size: 14px;">{{card.new_price}} €</div>
            </div>
        </div>
        <div class="col-1 fs-3" style="margin-top: auto;margin-bottom: auto; padding-left: 2px;padding-right: 2px;">...</div>
    </div>
</div>
-->